.button-geral{
    background: #1890FF;
    border-radius: 4px;
    width: 101px;
    height: 40px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
line-height: 24px;
    letter-spacing: -0.015em;
    color: #FFF;
}