.container{
    display:inline-block ;
    align-items: center;
    
    


}
.result-title{
    margin-left: 15px;
    font-weight: bold;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

display: flex;
align-items: center;

color: #737373;
}
.result-subtitle{
margin-left: 5px;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */

display: flex;
align-items: center;

/* Grey / grey-8 */

color: #595959;
}
.container-teste{
    background: #F5F5F5;
    border-radius: 8px;
    width: 1250px;
    height: 380px;
    margin: 0px 50px 50px 50px;
    display: flex;
}
.input{
    background: #FFFFFF;
    /* Grey / grey-5 */
    
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    width: 700px;
    height: 40px;
    margin-bottom: 10px;
}
.margin-shit{
    margin-left: 30px;
    margin-top:25px ;
}
.title{
    font-size: 38px;
line-height: 46px;
/* identical to box height, or 121% */


/* Grey / grey-9 */

color: #262626;

}
.result-img{
    width: 280px;
    height: 280px;
    margin-top: 25px;
    margin-left: 30px;
}
.button-geral{
    background: #1890FF;
    border-radius: 4px;
    width: 101px;
    height: 40px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
line-height: 24px;
    letter-spacing: -0.015em;
    color: #FFF;
}
.search-result-item-texto{
    background: #FFFFFF;
/* Grey / grey-5 */

border: 1px solid #D9D9D9;
box-sizing: border-box;
border-radius: 4px;
height: 40px;
width: 700px;
display: flex;
align-items: center;
margin-left: 50px;
margin-top: 5px;
text-align: left;


}
.informacoes-title{
    
    font-weight: 500;
font-size: 20px;
line-height: 28px;
margin-left: 30px;
/* identical to box height, or 140% */

display: flex;
align-items: center;

/* Daybreak Blue / blue-6 */

color: #1890FF;

}
.sub-infosuperior{
height: 22px;
left: 0px;
top: 0px;
margin: 20px;
margin-left:30px;
padding-right:15px ;
padding-left: 15px;

background: #FFFFFF;
border: 1px solid #D9D9D9;
box-sizing: border-box;
border-radius: 5px;
}
.informacoes{
margin-left: 10px;
margin-top: 0px;
width: 870px;
height: 247px;
left: 0px;
top: 0px;

/* Grey / grey-1 */

background: #FFFFFF;
/* Grey / grey-5 */

border: 1px solid #D9D9D9;
box-sizing: border-box;
border-radius: 6px;
}
.sub-info{
    display: flex;
    justify-content: right;
    margin-left: 30px;
}