.home-container {
    padding-top: 100px;

  }
  
  .home-container h1 {
    margin: 0;
  }
  
  .home-content {
    display: flex;
    justify-content: left;
    margin-left: 120px;
  }
  
  .home-title {
    font-weight: bold;
    font-size: 55px;
    line-height: 58px;
    letter-spacing: -0.015em;
    color: #062847;
    margin-bottom: 40px !important;
  }
  
  .home-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  color: #5A6774;
  }
  