.main-navbar{
    height: 70px;
    padding-left: 45px;
    display: flex;
    align-items: center;
    background: #1890FF;
}
.logo-text{
    font-weight: 500;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */

display: flex;
align-items: center;

color: #FFFFFF;

}