@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html, body {
    margin: 0;
    padding:0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  a {
    text-decoration: none;
  }
.border-search{
  width: 1200px;
  height: 270px;

  background: #E6F7FF;
  border-radius: 16px;
  margin: 50px;
  padding-left: 50px;
    

}